
.atm{
    position: relative;
}

.atm-menu{
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
}

.atm-menu.atm-menu-active{
    opacity: 1;
    visibility: visible;
}

#atm-menu{
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
}