html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

*, *:after, *::before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f7;
    color: #212121;
    font-family: 'Sofia Sans', sans-serif;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.margint10{ margin-top: 10px !important; }
.margint20{ margin-top: 20px !important; }
.margint30{ margin-top: 30px !important; }

.paddingt10{ padding-top: 10px !important; }
.paddingt20{ padding-top: 20px !important; }
.paddingt30{ padding-top: 30px !important; }

header{
    min-height: 600px;
    width: 100%;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
}

header.header_smaller{
    min-height: 400px;
}


#header_top{
    height: 100px;
}

#header_inner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#header_logo{
    font-size: 1.1rem;
    color: #FFF;
    display: flex;
    align-items: center;
}

@media only screen and (min-width:600px){
    #header_logo{
        font-size: 2rem;
    }
}

#header_logo_version{
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    margin-left: 10px;
    height: 20px;
    border-radius: 4px;
    background-color: rgb(255 255 255 / 0.2);
}

#header_right_nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

#header_right_nav a{
    color: #FFF;
    font-weight: bold;
}

@media only screen and (min-width:600px){
    #header_right_nav{
        gap: 20px;
    }
    #header_right_nav a{
        font-size: 1.1.rem;
    }
}

#header_main{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 2.3rem;
}


.container{
    max-width: 95%;
    margin: 0 auto;
}


main{
    position: relative;
}

#atm{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    display: block;
    top: -175px;
    position: relative;
    height: 350px;
    border-radius: 10px;
    border: none;
    outline: 1px solid #ee0979;
    padding: 10px;
}



section{
    padding: 50px 0;
}

li{
    margin-top: 10px;
}

li code{
    background: #ee0979;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    color: #FFF;
    padding: 0 5px;
    border-radius: 4px;
}



.alert{
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    border-radius: 6px;
    background-color: #FFF;
    line-height: 25px;
}

.alert_info{
    border-left: 5px solid #346ddb;
}

.alert svg{
    width: 25px;
    height: 25px;
    stroke: #212121;
    display: block;
}

.alert_info svg{
    stroke: #346ddb;   
}
